<ul class = "nav">

    <li class="nav item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav item"><a class="nav-link" href="/about">About Me</a></li>
    <li class="nav item"><a class="nav-link" href="/projects">Projects</a></li>
    <li class="nav item"><a class="nav-link" href="/database">Database</a></li>
    <li class="nav item"><a class="nav-link" href="/score-keeper/score-keeper">Score Keeper</a></li>

</ul>